{% extends 'student/base_student.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>apply for project</title>


</head>
<body>
{% block page_content %}
<div class="row">

            <!-- Area Chart -->
            <div class="col-xl-10 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Apply for Project to be permitted</h6>

                </div>
                <!-- Text Body -->
                <div class="card-body">
                    <div class="supervisor-form">

                        <form name="applyProject" action="/project/apply/" method="post">
                            {% csrf_token %}
{#                    {% for all in supervisors %}#}
{#                       {{ all |linebreaks }}#}
{#                    {% endfor %}#}


                            <div class="form-group"><br>
                            <p>Select your project category</p>
                            <select name="category_id" class="form-control">

                            {% for allCategory in allCategory %}
                                <option value="{{ allCategory.category }}">{{ allCategory.category }}</option>
                            {% endfor %}
                            </select>
{#                                <input type="text" class="form-control" name="projectCategory" placeholder="" required="required">#}
                            </div>
                            <div class="form-group">
                                <p>Type</p>
                                <select type="text" class="form-control" name="projtype" required="required">
                                  <option value="Project">Project Based</option>
                                  <option value="Thesis">Thesis Based</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <br>
                                <input type="text" class="form-control" name="projectName" placeholder="Name of your project" required="required">
                            </div>

{#                             <div class="form-group">#}
                                <br>
                                 <div class="form-group">
{#                                    <label for="projectDescription">Project Description (Maximum 200 words)</label>#}
                                    <textarea class="form-control" name="projectDescription" id="projectDescription" rows="3" placeholder="Project Description (500 characters only)"></textarea>
                                  </div>
{#                                <input type="text" class="form-control" name="projectDescription" placeholder="Project Description (Maximum 200 words)" required="required">#}
{#                            </div>#}

                             <div class="form-group">
                                <br>
                                 <textarea class="form-control" name="projectVision" id="projectVision" rows="3" placeholder="Vision Statement (500 characters only)" required="required"></textarea>
                             </div>

                             <div class="form-group">
                                <br>
                                 <textarea class="form-control" name="projectCharter" id="projectVision" rows="2" name="projectCharter" placeholder="Project Charter (250 characters only)" required="required"></textarea>
                            </div>

                            <div align="center" class="submit-block table">
                                <button class="btn btn-primary btn-md btn-block>
                                <span class="text">Apply</span>
                                </button>
                            </div>
                            {% comment %}<input type="submit" class="btn btn-success btn-lg btn-block">{% endcomment %}
                        </form>
                    </div>
                </div>
              </div>
            </div>

</div>
{% endblock %}

</body>
</html>