{% extends 'student/base_student.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Project</title>

<style>
    .file-field.big .file-path-wrapper {
height: 3.2rem; }
.file-field.big .file-path-wrapper .file-path {
height: 3rem; }
</style>
</head>
<body>
{% block page_content %}
<div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Project Basic Information</h6>

                </div>
                <!-- Text Body -->
                   <div class="card-body">
                       {% for project_basic_info in all_basic_info %}
                       <div class="form-group"><p>Project Name:</p>
                             <textarea class="form-control" readonly
                            placeholder="{{ project_basic_info.p_name}}" name="projectVision" id="projectVision" rows="1" ></textarea>
                       </div>
                       <div class="form-group"><p>Project Category:</p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.category}}" name="projectVision" id="projectVision" rows="1" ></textarea>
                     </div>
                      <div class="form-group"><p>Project Category:</p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.approval}}" name="projectVision" id="projectVision" rows="1" ></textarea>
                     </div>
                      <div class="form-group"><p>Project description:</p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.p_description}}" name="projectVision" id="projectVision" rows="4" ></textarea>
                     </div>
                           <div class="form-group"><p><b>Vision statement:</b></p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.vision}}" name="projectVision" id="projectVision" rows="4" ></textarea>
                     </div>
                           <div class="form-group"><p><b>Project Charter:</b></p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.charter}}" name="projectVision" id="projectVision" rows="3" ></textarea>
                     </div>
                        {% endfor %}
                   </div>

                </div>
                <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Process & Product Track </h6>
                </div>
                <!-- Text Body -->
                   <div class="card-body">
                       {% for process_info in all_tracking_info %}
                           <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p><b>System Requirement Specification</b></p>
                            <input type ="file" name="srs">
                            <button type="submit">Upload File</button>
{#                            {% if uploaded_file_url %}#}
{#                            <p>srs: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>#}
{#                            {% endif %}#}
{##}
{#                           <p><b>Software Project Management Proposal</b></p>#}
{#                            <input type ="file" name="srs">#}
{#                            <button type="submit">Upload File</button>#}
{#                            {% if uploaded_file_url %}#}
{#                            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>#}
{#                            {% endif %}#}
{##}
{#                           <p><b>Release Plan</b></p>#}
{#                            <input type ="file" name="srs">#}
{#                            <button type="submit">Upload File</button>#}
{#                            {% if uploaded_file_url %}#}
{#                            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>#}
{#                            {% endif %}#}

                            </form>

                           {{ process_info.srs |linebreaks }}
                           {{ process_info.spmp |linebreaks }}
                           {{ process_info.release_plan |linebreaks }}
                           {{ process_info.iteration_plan |linebreaks }}
                           {{ process_info.system_architecture_design |linebreaks }}
                           {{ process_info.coding_standard |linebreaks }}
                           {{ process_info.test_plan |linebreaks }}
                           {{ process_info.test_case_specification |linebreaks }}
                           {{ process_info.user_guide |linebreaks }}
                           {{ process_info.system_video_documentation |linebreaks }}
                           {{ process_info.video_demonstration |linebreaks }}
                           {{ process_info.source_code_link |linebreaks }}

                        {% endfor %}
                   </div>

              </div>
            </div>


</div>
{% endblock %}

</body>
</html>