{% extends 'student/base_student.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Project</title>

<style>
    .file-field.big .file-path-wrapper {
height: 3.2rem; }
.file-field.big .file-path-wrapper .file-path {
height: 3rem; }
</style>
</head>
<body>
{% block page_content %}
<div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Upload Process & Product Documents </h6>
                </div>
                <!-- Text Body -->
                   <div class="card-body">
                           <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group"><br>
                            {% if approval_status == 'Eligible' %}
                            <p>Document Type</p>
                            <select name="document_type" class="form-control">
                            {% for all_document_type in all_document_type %}
                                <option value="{{ all_document_type.process_product_type }}">{{ all_document_type.process_product_type }}</option>
                            {% endfor %}
                            </select>
{#                                <input type="text" class="form-control" name="projectCategory" placeholder="" required="required">#}
                            </div>
                           <div align="" class="submit-block table">
                            <p><b>Upload document from here</b></p>
                            <input type ="file" class="btn btn-outline-dark btn-sm" name="product_file">
                                <button type="submit" class="btn btn-outline-primary">
                                <span class="text"> Submit File</span>
                                </button>
                            {% endif %}

                            {% if approval_status != 'Eligible'%}

                                <div class="alert alert-danger alert-dismissible">
                                 <strong>Status : Pending project ! please contact with the authority</strong>
                                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                </div>
                            {% endif %}
                            </div>
                            </form>
                   </div>
              </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="/project/project_basic_info/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Basic info pdf generate</a>
          </div>


              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Project Basic Information</h6>

                </div>
                <!-- Text Body -->
                   <div class="card-body">
                       {% for project_basic_info in all_basic_info %}
                       <div class="form-group"><p>Project Name:</p>
                             <textarea class="form-control" readonly
                            placeholder="{{ project_basic_info.p_name}}" name="projectVision" id="projectVision" rows="1" ></textarea>
                       </div>
                       <div class="form-group"><p>Project Category:</p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.category}}" name="projectVision" id="projectVision" rows="1" ></textarea>
                     </div>
                      <div class="form-group"><p>Approval status:</p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.approval}}" name="projectVision" id="projectVision" rows="1" ></textarea>
                     </div>
                      <div class="form-group"><p>Project description:</p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.p_description}}" name="projectVision" id="projectVision" rows="4" ></textarea>
                     </div>
                           <div class="form-group"><p><b>Vision statement:</b></p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.vision}}" name="projectVision" id="projectVision" rows="4" ></textarea>
                     </div>
                           <div class="form-group"><p><b>Project Charter:</b></p>
                         <textarea class="form-control" readonly
                        placeholder="{{ project_basic_info.charter}}" name="projectVision" id="projectVision" rows="3" ></textarea>
                     </div>
                        {% endfor %}
                   </div>
                </div>
            </div>
</div>
{% endblock %}

</body>
</html>