<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding new supervisor</title>
    {% extends 'administration/base.html' %}
</head>
<body id="page-top">

{% block page_content %}
<div class="row">

            <!-- Area Chart -->
            <div class="col-xl-10 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Adding New Supervisors</h6>
{#                  <div class="dropdown no-arrow">#}
{#                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>#}
{#                    </a>#}
{#                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">#}
{#                      <div class="dropdown-header">Project Description:</div>#}
{#                      <a class="dropdown-item" href="#">Show All</a>#}
{#                      <a class="dropdown-item" href="#">Another action</a>#}
{#                      <div class="dropdown-divider"></div>#}
{#                      <a class="dropdown-item" href="#">Something else here</a>#}
{#                    </div>#}
{#                  </div>#}
                </div>
                <!-- Card Body -->

                <div class="card-body">
                    <div class="supervisor-form">
                        <form name="supervisorAdding" action="/supervisor/add_request/" method="post">
                            {% csrf_token %}

                            <div class="form-group">

                                <input type="text" class="form-control" name="supervisor_id" placeholder="Registered faculty bearing ID (eg: 710002113)" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="faculty_name" placeholder="Full name" required="required">
                            </div>
                            <div class="form-group">
                                <select type="text" class="form-control" name="designation" required="required">
                                  <option value="Lecturer">Lecturer</option>
                                  <option value="Senior Lecturer">Lecturer (Senior Scale)</option>
                                  <option value="Assistant Professor">Assistant Professor</option>
                                  <option value="Associate Professor">Associate Professor</option>
                                  <option value="Head">Head of the Department</option>
                                  <option value="External">External</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="web_page" placeholder="Profile web page (if any)">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Email ID" required="required">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                            </div>

                            <div align="center" class="submit-block table">
                                <button class="btn btn-primary btn-md btn-block>
                                <span class="text">Submit</span>
                                </button>
                            </div>
                            {% comment %}<input type="submit" class="btn btn-success btn-lg btn-block">{% endcomment %}
                        </form>

                    </div>
{#                  <div class="chart-area">#}
{#                    <canvas id="myAreaChart"></canvas>#}
{#                  </div>#}
                </div>
              </div>
            </div>

{#            <!-- Pie Chart -->#}
{#            <div class="col-xl-4 col-lg-5">#}
{#              <div class="card shadow mb-4">#}
{#                <!-- Card Header - Dropdown -->#}
{#                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">#}
{#                  <h6 class="m-0 font-weight-bold text-primary">Supervisors selected sub category</h6>#}
{#                  <div class="dropdown no-arrow">#}
{#                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>#}
{#                    </a>#}
{#                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">#}
{#                      <div class="dropdown-header">Dropdown Header:</div>#}
{#                      <a class="dropdown-item" href="#">Action</a>#}
{#                      <a class="dropdown-item" href="#">Another action</a>#}
{#                      <div class="dropdown-divider"></div>#}
{#                      <a class="dropdown-item" href="#">Something else here</a>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
</div>
{% endblock %}


</body>
</html>