{% extends 'supervisor/base_supervisor.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding new document</title>
</head>
<body>
{% block page_content %}
<div class="row">
            <!-- Area Chart -->
            <div class="col-xl-10 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Add new document type</h6>
                </div>
                <!-- Text Body -->
                <div class="card-body">
                    <div class="supervisor-form">
                        <form name="adding" method="post">
                            {% csrf_token %}
                             <div class="form-group">
                                 <input class="form-control" type="text" name="add_new_document_type" id="add_new_document_type" placeholder="Ex: System Requirement Analysis" required="required">
                             </div>
                            <div align="center" class="submit-block table">
                                <button class="btn btn-primary btn-md btn-block">
                                <span class="text">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
            </div>

</div>
{% endblock %}

</body>
</html>