<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Supervisors</title>
    {% extends 'administration/base.html' %}
</head>
<body id="page-top">

{% block page_content %}
<div class="row">

            <!-- Area Chart -->
            <div class="col-xl-10 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">All Registered Supervisors / Internals / Externals</h6>
                </div>

                <div class="card-body">
                    <div class="supervisor-form">
                    {% for all in supervisors %}
                       {{ all |linebreaks }}
                    {% endfor %}
                    </div>
                </div>
              </div>
            </div>


</div>
{% endblock %}


</body>
</html>