<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    <meta charset="UTF-8">
    <title>All Supervisors</title>
    {% extends 'administration/base.html' %}

</head>
<body id="page-top">
{% block page_content %}
    <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">All Registered Supervisors (Internals/Externals)</h6>
        </div>
           <div class="card-body">
           <table>
           <thead>
        <tr>
                <th>List</th>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Web Profile</th>
            </tr>
            </thead>

        {% for allSupervisor in supervisors %}
         <tbody>
         <tr>
            <td>{{ forloop.counter }} </td>
            <td>{{ allSupervisor.supervisor_id }}</td>
            <td>{{ allSupervisor.faculty_name }}</td>
            <td>{{ allSupervisor.designation }}</td>
            <td>{{ allSupervisor.email }}</td>
             <td><a href="{{ allSupervisor.web_page }}">Click to view</a></td>
        </tr>
         </tbody>
             {% endfor %}
     </table>
        </div>
      </div>
    </div>
</div>

{% endblock %}


</body>
</html>