<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Developers</title>
    {% extends 'administration/base.html' %}
</head>
<body id="page-top">
{% block page_content %}
    <div class="col-xl-11 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Developer Contact Profile</h6>
                </div>
                <div class="card-body">
                    <div class="supervisor-form">
          <img src="/media/images/Joy.jpg" alt="John" style="width:25%; margin-left: 38%">
          <h4 align="center">Abu Zahid Md Jalal Uddin Joy</h4>
          <p align="center" class="title">Email: joy.srijon@gmail.com</p>
          <p align="center" class="title">Student, Department of Software Engineering</p>
          <p align="center">Daffodil International University</p>
          <div align="center" style="margin: 30px 15px;">
            <a href="https://github.com/azmjalaluddinjoy"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/azmjalaluddin"><i class="fab fa-twitter-square"></i></a>
            <a href="https://https://www.linkedin.com/in/a-z-m-jalal-uddin-joy/"><i class="fab fa-linkedin"></i></a>
            <a href="https://facebook.com/joy.azm"><i class="fab fa-facebook-square"></i></a>
          </div>
          <p align="center">
              <button class="btn btn-primary btn-sm btn-block>
              <span class="text">Contact Media</span>
              </button>
          </p>
                    </div>
                </div>
              </div>
            </div>
{% endblock %}


</body>
</html>
