{% extends 'student/base_student.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Testing</title>
</head>
<body>
{% block page_content %}
<p>Upload Testing</p>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type ="file" name="document">
    <button type="submit">Upload File</button>
    {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}
    </form>
{% endblock %}

</body>
</html>